# Jaya Jagannatha

In [1]:
import findspark
findspark.init("/usr/local/spark")
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Market Aalysis in Banking Domain").getOrCreate()
from pyspark.sql import Row
sc = spark.sparkContext

=================================================================================================================
To increase the ram size incase u get an error as:
An error occurred while calling o194.showString. : org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 138.0
=================================================================================================================
config=pyspark.SparkConf().setAll(
    [
        ("spark.memory.offHeap.enabled","true"),
        ("spark.memory.offHeap.size","12gb")
    ]
)
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Market Aalysis in Banking Domain").config(conf=config).getOrCreate()

### 1.	Load data and create a Spark data frame

In [3]:
rdd = sc.textFile("Project 1_dataset_bank-full.csv")

In [4]:
type(rdd)

pyspark.rdd.RDD

In [5]:
removing_delemiters = rdd.map(lambda wrd: wrd.replace('"',"")).map(lambda l: l.split(';'))

In [6]:
type(removing_delemiters)

pyspark.rdd.PipelinedRDD

In [7]:
removing_delemiters.take(3)

[['age',
  'job',
  'marital',
  'education',
  'default',
  'balance',
  'housing',
  'loan',
  'contact',
  'day',
  'month',
  'duration',
  'campaign',
  'pdays',
  'previous',
  'poutcome',
  'y'],
 ['58',
  'management',
  'married',
  'tertiary',
  'no',
  '2143',
  'yes',
  'no',
  'unknown',
  '5',
  'may',
  '261',
  '1',
  '-1',
  '0',
  'unknown',
  'no'],
 ['44',
  'technician',
  'single',
  'secondary',
  'no',
  '29',
  'yes',
  'no',
  'unknown',
  '5',
  'may',
  '151',
  '1',
  '-1',
  '0',
  'unknown',
  'no']]

In [8]:
bank_headers = removing_delemiters.first()

In [9]:
bank_headers

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [10]:
data = removing_delemiters.filter(lambda each: each != bank_headers).toDF(bank_headers)

In [11]:
type(data)

pyspark.sql.dataframe.DataFrame

In [12]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [13]:
data.show(5)

+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician| single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur|married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown| single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 5 rows

In [14]:
from pyspark.sql.types import *

In [15]:
data.withColumn("age",data.age.cast(IntegerType()))

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, y: string]

In [16]:
data.withColumn("balance",data.balance.cast(DoubleType()))

DataFrame[age: string, job: string, marital: string, education: string, default: string, balance: double, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, y: string]

In [17]:
data.withColumn("day",data.day.cast(IntegerType()))
data.withColumn("duration",data.duration.cast(IntegerType()))
data.withColumn("campaign",data.campaign.cast(IntegerType()))
data.withColumn("pdays",data.pdays.cast(IntegerType()))
data.withColumn("previous",data.previous.cast(IntegerType()))

DataFrame[age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: int, poutcome: string, y: string]

In [18]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

# does not work only using these command
# data = spark.read.load('Project 1_dataset_bank-full.csv',format="csv",sep=";",inferSchema=True,header=True)
# data.printSchema()

In [19]:
data.select('age').show(3)

+---+
|age|
+---+
| 58|
| 44|
| 33|
+---+
only showing top 3 rows

In [20]:
data.select('job').show(3)

+------------+
|         job|
+------------+
|  management|
|  technician|
|entrepreneur|
+------------+
only showing top 3 rows

In [21]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [22]:
data.show(1)

+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 1 row

In [23]:
from pyspark.sql.functions import col 
import pyspark.sql.types

In [24]:
data = data.withColumn("age",col("age").cast(IntegerType()))
data = data.withColumn("balance",col("balance"). cast(DoubleType()))
data = data.withColumn("balance",col("balance"). cast(IntegerType()))
data = data.withColumn("day",col("day"). cast(IntegerType()))
data = data.withColumn("duration",col("duration"). cast(IntegerType()))
data = data.withColumn("pdays",col("pdays"). cast(IntegerType()))
data = data.withColumn("campaign",col("campaign"). cast(IntegerType()))
data = data.withColumn("previous",col("previous"). cast(IntegerType()))

In [25]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

### 2.	Give marketing success rate (No. of people subscribed / total no. of entries)  Give marketing failure rate

In [26]:
data.groupBy('y').count().show()

+---+-----+
|  y|count|
+---+-----+
| no|39922|
|yes| 5289|
+---+-----+

In [27]:
data.createOrReplaceTempView("bank")

In [28]:
spark.sql('Select count(*) as subscription,y from bank group by y').show()

+------------+---+
|subscription|  y|
+------------+---+
|       39922| no|
|        5289|yes|
+------------+---+

In [29]:
spark.sql('select (\
(select count(*) from bank where y = "yes")/\
(select count(*) from bank)*\
         100) as `No. of people subscribed - Marketing success rate`').show()

+-------------------------------------------------+
|No. of people subscribed - Marketing success rate|
+-------------------------------------------------+
|                               11.698480458295547|
+-------------------------------------------------+

In [30]:
spark.sql('select (\
(select count(*) from bank where y = "no")/\
(select count(*) from bank)*\
         100) as `Marketing failure rate`').show()

+----------------------+
|Marketing failure rate|
+----------------------+
|     88.30151954170445|
+----------------------+

### 3.	Give the maximum, mean, and minimum age of the average targeted customer

In [31]:
spark.sql('select MIN(age) as `minimum age`,MAX(age) as `maximum age`,MEAN(age) as `mean age` from bank').show()

+-----------+-----------+-----------------+
|minimum age|maximum age|         mean age|
+-----------+-----------+-----------------+
|         18|         95|40.93621021432837|
+-----------+-----------+-----------------+

# does not work
# data.select("age").summary("count").show()

### 4.	Check the quality of customers by checking average balance, median balance of customers

In [32]:
# spark.sql('select (\
#              (select max(balance) from\
#                  (select top 50 percent balance from bank order by balance) as bottom_half)\
#             +\
#               (select min(balance) from\
#                   (select top 50 percent balance from bank order by balance desc) as top_half)\
#          ) / 2 as median').show()

In [33]:
# spark.sql("SELECT balance,\
#     PERCENTILE_CONT(0.5) \
#         WITHIN GROUP (ORDER BY balance)\
#         OVER (PARTITION BY SalesOrderID) AS MedianCont\
#     FROM bank").show()

In [34]:
spark.sql('select percentile_approx(balance,0.5) as `median balance` FROM bank').show()

+--------------+
|median balance|
+--------------+
|         448.0|
+--------------+

In [35]:
from pyspark.sql.functions import avg

In [36]:
data.select(avg("balance")).show()

+------------------+
|      avg(balance)|
+------------------+
|1362.2720576850766|
+------------------+

In [37]:
spark.sql('Select AVG(balance) as `avg balance of customers` from bank').show()

+------------------------+
|avg balance of customers|
+------------------------+
|      1362.2720576850766|
+------------------------+

### 5.  Check if age matters in marketing subscription for deposit

In [38]:
data.groupBy('y','age').count().show()

+---+---+-----+
|  y|age|count|
+---+---+-----+
| no| 63|   47|
| no| 47|  975|
|yes| 26|  134|
|yes| 50|   72|
|yes| 68|   21|
| no| 32| 1864|
| no| 94|    1|
| no| 74|   24|
| no| 55|  730|
| no| 49|  893|
|yes| 34|  198|
|yes| 51|   77|
| no| 79|   15|
|yes| 25|  113|
|yes| 83|    6|
|yes| 43|  103|
|yes| 76|   16|
| no| 21|   57|
|yes| 92|    2|
|yes| 49|  101|
+---+---+-----+
only showing top 20 rows

In [39]:
# spark.sql('select count(y),y as count_ from bank where age < 27 and age <= 37 group by y').show()

In [40]:
# spark.sql('select count(y),y as count_ from bank where age < 37 and age <= 47 group by y').show()

In [41]:
# spark.sql('select count(y),y as count_ from bank where age < 47 and age <= 57 group by y').show()

In [42]:
# spark.sql('select count(y),y as count_ from bank where age < 57 and age <= 67 group by y').show()

In [43]:
# spark.sql('select count(y),y as count_ from bank where age < 67 and age <= 77 group by y').show()

In [44]:
# spark.sql('select count(y),y as count_ from bank where age < 77 and age <= 87 group by y').show()

In [45]:
# spark.sql('select count(y),y as count_ from bank where age < 87 and age <= 97 group by y').show()

In [46]:
from pyspark.sql.functions import desc

In [47]:
data.groupBy("y","age").count().sort(desc('age')).show(data.count(),False)

+---+---+-----+
|y  |age|count|
+---+---+-----+
|no |95 |1    |
|yes|95 |1    |
|no |94 |1    |
|yes|93 |2    |
|yes|92 |2    |
|yes|90 |2    |
|no |89 |3    |
|no |88 |2    |
|no |87 |1    |
|yes|87 |3    |
|no |86 |5    |
|yes|86 |4    |
|no |85 |1    |
|yes|85 |4    |
|no |84 |4    |
|yes|84 |5    |
|yes|83 |6    |
|no |83 |16   |
|yes|82 |8    |
|no |82 |11   |
|yes|81 |6    |
|no |81 |11   |
|yes|80 |12   |
|no |80 |19   |
|yes|79 |10   |
|no |79 |15   |
|yes|78 |14   |
|no |78 |16   |
|no |77 |22   |
|yes|77 |22   |
|yes|76 |16   |
|no |76 |16   |
|no |75 |24   |
|yes|75 |15   |
|yes|74 |13   |
|no |74 |24   |
|yes|73 |24   |
|no |73 |20   |
|no |72 |28   |
|yes|72 |24   |
|yes|71 |25   |
|no |71 |29   |
|no |70 |50   |
|yes|70 |17   |
|no |69 |27   |
|yes|69 |17   |
|no |68 |15   |
|yes|68 |21   |
|yes|67 |23   |
|no |67 |31   |
|no |66 |39   |
|yes|66 |24   |
|no |65 |38   |
|yes|65 |21   |
|no |64 |39   |
|yes|64 |35   |
|yes|63 |30   |
|no |63 |47   |
|no |62 |41   |
|yes|62 |39   |
|no |61 |90   |
|yes|61 |57   |
|yes|60 |98   |
|no |60 |498  |
|no |59 |682  |
|yes|59 |88   |
|no |58 |668  |
|yes|58 |72   |
|no |57 |750  |
|yes|57 |78   |
|no |56 |710  |
|yes|56 |68   |
|no |55 |730  |
|yes|55 |76   |
|yes|54 |84   |
|no |54 |727  |
|no |53 |806  |
|yes|53 |85   |
|no |52 |826  |
|yes|52 |85   |
|no |51 |859  |
|yes|51 |77   |
|yes|50 |72   |
|no |50 |867  |
|no |49 |893  |
|yes|49 |101  |
|no |48 |915  |
|yes|48 |82   |
|yes|47 |113  |
|no |47 |975  |
|yes|46 |118  |
|no |46 |1057 |
|yes|45 |106  |
|no |45 |1110 |
|no |44 |1043 |
|yes|44 |93   |
|no |43 |1058 |
|yes|43 |103  |
|yes|42 |111  |
|no |42 |1131 |
|yes|41 |120  |
|no |41 |1171 |
|no |40 |1239 |
|yes|40 |116  |
|no |39 |1344 |
|yes|39 |143  |
|yes|38 |144  |
|no |38 |1322 |
|yes|37 |170  |
|no |37 |1526 |
|no |36 |1611 |
|yes|36 |195  |
|no |35 |1685 |
|yes|35 |209  |
|no |34 |1732 |
|yes|34 |198  |
|yes|33 |210  |
|no |33 |1762 |
|no |32 |1864 |
|yes|32 |221  |
|no |31 |1790 |
|yes|31 |206  |
|no |30 |1540 |
|yes|30 |217  |
|yes|29 |171  |
|no |29 |1014 |
|yes|28 |162  |
|no |28 |876  |
|yes|27 |141  |
|no |27 |768  |
|yes|26 |134  |
|no |26 |671  |
|yes|25 |113  |
|no |25 |414  |
|yes|24 |68   |
|no |24 |234  |
|no |23 |158  |
|yes|23 |44   |
|no |22 |89   |
|yes|22 |40   |
|yes|21 |22   |
|no |21 |57   |
|no |20 |35   |
|yes|20 |15   |
|yes|19 |11   |
|no |19 |24   |
|yes|18 |7    |
|no |18 |5    |
+---+---+-----+

In [48]:
spark.sql("SELECT age, count(*) as number from bank\
        where y = 'yes' group by age order by age desc").show(data.count(),False)

+---+------+
|age|number|
+---+------+
|95 |1     |
|93 |2     |
|92 |2     |
|90 |2     |
|87 |3     |
|86 |4     |
|85 |4     |
|84 |5     |
|83 |6     |
|82 |8     |
|81 |6     |
|80 |12    |
|79 |10    |
|78 |14    |
|77 |22    |
|76 |16    |
|75 |15    |
|74 |13    |
|73 |24    |
|72 |24    |
|71 |25    |
|70 |17    |
|69 |17    |
|68 |21    |
|67 |23    |
|66 |24    |
|65 |21    |
|64 |35    |
|63 |30    |
|62 |39    |
|61 |57    |
|60 |98    |
|59 |88    |
|58 |72    |
|57 |78    |
|56 |68    |
|55 |76    |
|54 |84    |
|53 |85    |
|52 |85    |
|51 |77    |
|50 |72    |
|49 |101   |
|48 |82    |
|47 |113   |
|46 |118   |
|45 |106   |
|44 |93    |
|43 |103   |
|42 |111   |
|41 |120   |
|40 |116   |
|39 |143   |
|38 |144   |
|37 |170   |
|36 |195   |
|35 |209   |
|34 |198   |
|33 |210   |
|32 |221   |
|31 |206   |
|30 |217   |
|29 |171   |
|28 |162   |
|27 |141   |
|26 |134   |
|25 |113   |
|24 |68    |
|23 |44    |
|22 |40    |
|21 |22    |
|20 |15    |
|19 |11    |
|18 |7     |
+---+------+

Mostly as u can see that as the age group people 25 - 50 

more number of pople have gone for subscription

So related

### 6. Check if marital status mattered for a subscription to deposit

In [49]:
spark.sql("SELECT marital, count(*) as number from bank\
        where y = 'yes' group by marital order by number desc").show(data.count(),False)

+--------+------+
|marital |number|
+--------+------+
|married |2755  |
|single  |1912  |
|divorced|622   |
+--------+------+

Mostly as u can see that in married people

more number of pople have gone for subscription

So related

### 7.	Check if age and marital status together mattered for a subscription to deposit scheme

In [50]:
spark.sql("SELECT age, marital, count(*) as number from bank\
            where y = 'yes' group by age, marital order by age desc").show(data.count(),False)

+---+--------+------+
|age|marital |number|
+---+--------+------+
|95 |divorced|1     |
|93 |married |2     |
|92 |married |2     |
|90 |divorced|2     |
|87 |divorced|1     |
|87 |married |2     |
|86 |married |2     |
|86 |divorced|1     |
|86 |single  |1     |
|85 |married |3     |
|85 |divorced|1     |
|84 |divorced|1     |
|84 |married |4     |
|83 |single  |1     |
|83 |divorced|2     |
|83 |married |3     |
|82 |married |5     |
|82 |divorced|3     |
|81 |married |4     |
|81 |divorced|2     |
|80 |divorced|1     |
|80 |married |11    |
|79 |divorced|2     |
|79 |married |8     |
|78 |divorced|6     |
|78 |married |8     |
|77 |divorced|3     |
|77 |married |19    |
|76 |married |10    |
|76 |divorced|6     |
|75 |married |12    |
|75 |divorced|3     |
|74 |divorced|2     |
|74 |married |11    |
|73 |divorced|4     |
|73 |married |19    |
|73 |single  |1     |
|72 |divorced|1     |
|72 |married |23    |
|71 |married |17    |
|71 |divorced|8     |
|70 |married |12    |
|70 |divorced|5     |
|69 |divorced|3     |
|69 |single  |1     |
|69 |married |13    |
|68 |single  |2     |
|68 |divorced|6     |
|68 |married |13    |
|67 |single  |1     |
|67 |divorced|7     |
|67 |married |15    |
|66 |divorced|2     |
|66 |married |22    |
|65 |married |19    |
|65 |divorced|2     |
|64 |divorced|4     |
|64 |married |31    |
|63 |divorced|4     |
|63 |married |25    |
|63 |single  |1     |
|62 |divorced|5     |
|62 |married |34    |
|61 |single  |1     |
|61 |married |47    |
|61 |divorced|9     |
|60 |single  |4     |
|60 |divorced|21    |
|60 |married |73    |
|59 |single  |6     |
|59 |married |66    |
|59 |divorced|16    |
|58 |married |54    |
|58 |single  |1     |
|58 |divorced|17    |
|57 |married |58    |
|57 |single  |5     |
|57 |divorced|15    |
|56 |divorced|13    |
|56 |married |49    |
|56 |single  |6     |
|55 |divorced|26    |
|55 |married |50    |
|54 |married |52    |
|54 |single  |8     |
|54 |divorced|24    |
|53 |divorced|18    |
|53 |single  |7     |
|53 |married |60    |
|52 |divorced|10    |
|52 |single  |8     |
|52 |married |67    |
|51 |single  |8     |
|51 |married |59    |
|51 |divorced|10    |
|50 |divorced|11    |
|50 |married |57    |
|50 |single  |4     |
|49 |single  |14    |
|49 |married |71    |
|49 |divorced|16    |
|48 |single  |15    |
|48 |divorced|16    |
|48 |married |51    |
|47 |divorced|10    |
|47 |single  |20    |
|47 |married |83    |
|46 |married |80    |
|46 |divorced|25    |
|46 |single  |13    |
|45 |single  |14    |
|45 |married |68    |
|45 |divorced|24    |
|44 |divorced|21    |
|44 |married |48    |
|44 |single  |24    |
|43 |single  |26    |
|43 |divorced|15    |
|43 |married |62    |
|42 |divorced|19    |
|42 |single  |22    |
|42 |married |70    |
|41 |single  |31    |
|41 |divorced|17    |
|41 |married |72    |
|40 |divorced|12    |
|40 |married |73    |
|40 |single  |31    |
|39 |divorced|16    |
|39 |married |87    |
|39 |single  |40    |
|38 |divorced|20    |
|38 |married |86    |
|38 |single  |38    |
|37 |married |98    |
|37 |divorced|15    |
|37 |single  |57    |
|36 |married |100   |
|36 |single  |71    |
|36 |divorced|24    |
|35 |single  |84    |
|35 |married |101   |
|35 |divorced|24    |
|34 |married |118   |
|34 |single  |69    |
|34 |divorced|11    |
|33 |married |97    |
|33 |divorced|16    |
|33 |single  |97    |
|32 |divorced|10    |
|32 |married |87    |
|32 |single  |124   |
|31 |divorced|15    |
|31 |married |80    |
|31 |single  |111   |
|30 |married |59    |
|30 |divorced|7     |
|30 |single  |151   |
|29 |married |33    |
|29 |single  |133   |
|29 |divorced|5     |
|28 |divorced|4     |
|28 |married |20    |
|28 |single  |138   |
|27 |married |29    |
|27 |single  |110   |
|27 |divorced|2     |
|26 |single  |121   |
|26 |married |13    |
|25 |married |14    |
|25 |single  |99    |
|24 |married |10    |
|24 |single  |58    |
|23 |single  |42    |
|23 |married |2     |
|22 |single  |40    |
|21 |married |1     |
|21 |single  |21    |
|20 |single  |14    |
|20 |married |1     |
|19 |single  |11    |
|18 |single  |7     |
+---+--------+------+

Mostly as u can see that in married and single people in the 

age group of 25 - 40 gone for subscription

So related

### 8.

In [51]:
data.select("age").show(5)

+---+
|age|
+---+
| 58|
| 44|
| 33|
| 47|
| 33|
+---+
only showing top 5 rows

# data.select('age').rdd.map(lambda x: ageStr(x)).show()

# """Converting function to UDF"""
# convertUDF = udf(lambda x: ageStr(z),StringType())

# data.select(col("age"), \
#     convertUDF(col("age")).alias("Age_") ) \
#    .show()

# data.withColumn("age_",ageStr(col("age"))).show()

# data.withColumn("age_",convertUDF(col("age"))).show()

# spark.udf.register("convertUDF",ageStr,StringType())

# spark.sql("SELECT convertUDF(age) as age, count(*) as number from bank\
#         where y = 'yes' group by age").show(data.count(),False)

# data.withColumn(
#   "age_", 
#   when((col("age") >= 60) & (col("age")<=100),lit("Old").otherwise(
#     when((col("age") >= 40) & (col("age")<60),lit("Middle Age").otherwise(
#         when((col("age") >= 20) & (col("age")<40),lit("Young").otherwise(lit("Teen")))))
#   ))
# )

In [52]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [53]:
spark.sql("desc bank").show()

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|      age|      int|   null|
|      job|   string|   null|
|  marital|   string|   null|
|education|   string|   null|
|  default|   string|   null|
|  balance|      int|   null|
|  housing|   string|   null|
|     loan|   string|   null|
|  contact|   string|   null|
|      day|      int|   null|
|    month|   string|   null|
| duration|      int|   null|
| campaign|      int|   null|
|    pdays|      int|   null|
| previous|      int|   null|
| poutcome|   string|   null|
|        y|   string|   null|
+---------+---------+-------+

In [54]:
def ageStr(a):
    if (a >= 60):
        return "Old"
    elif ((a >= 40) & (a < 60)):
        return "Middle Age"
    elif ((a >= 20) & (a < 40)):
        return "Young"
    elif ((a >= 13) & (a < 20)):
        return "Teen"
    else:
        return "Kid"

In [55]:
from pyspark.sql.functions import udf,col,when,lit

In [56]:
udf_ageStr = udf(ageStr,StringType())

In [57]:
datau = data.withColumn("ageStrings",udf_ageStr("age"))

In [58]:
datau.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+----------+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|ageStrings|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+----------+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|Middle Age|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|Middle Age|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|     Young|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|Middle Age|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|     Young|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|     Young|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|     Young|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|Middle Age|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|Middle Age|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|Middle Age|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|Middle Age|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|     Young|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|Middle Age|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|Middle Age|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|Middle Age|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|Middle Age|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|Middle Age|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|Middle Age|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|       Old|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|     Young|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+----------+
only showing top 20 rows

In [59]:
datau.createOrReplaceTempView("bank")

In [60]:
spark.sql("SELECT ageStrings, marital, count(*) as number from bank\
            where y = 'yes' group by ageStrings, marital order by ageStrings").show(data.count(),False)

+----------+--------+------+
|ageStrings|marital |number|
+----------+--------+------+
|Middle Age|married |1250  |
|Middle Age|divorced|335   |
|Middle Age|single  |263   |
|Old       |divorced|118   |
|Old       |married |469   |
|Old       |single  |13    |
|Teen      |single  |18    |
|Young     |divorced|169   |
|Young     |single  |1618  |
|Young     |married |1036  |
+----------+--------+------+

Here we can see that 

people of age group young with marital status single and 

middle aged people with marital status married

are mostly going for the subscription

In [61]:
spark.sql("SELECT ageStrings, marital,y, count(y) as number from bank\
            group by ageStrings, marital, y order by ageStrings, marital").show(data.count(),False)

+----------+--------+---+------+
|ageStrings|marital |y  |number|
+----------+--------+---+------+
|Middle Age|divorced|yes|335   |
|Middle Age|divorced|no |2968  |
|Middle Age|married |yes|1250  |
|Middle Age|married |no |13298 |
|Middle Age|single  |yes|263   |
|Middle Age|single  |no |1951  |
|Old       |divorced|yes|118   |
|Old       |divorced|no |185   |
|Old       |married |no |951   |
|Old       |married |yes|469   |
|Old       |single  |yes|13    |
|Old       |single  |no |48    |
|Teen      |single  |no |29    |
|Teen      |single  |yes|18    |
|Young     |divorced|no |1432  |
|Young     |divorced|yes|169   |
|Young     |married |no |10210 |
|Young     |married |yes|1036  |
|Young     |single  |no |8850  |
|Young     |single  |yes|1618  |
+----------+--------+---+------+

Here we can view a more detailed analysis of the same